@media (max-width: 690px){
    .header .left {
        width: 100%;
        text-align: center;
    }
    .header .right {
        width: 100%;
        text-align: center;
    }
    .header .right ul li {
        float: none;
        display: inline-block;
    }
}
@media (max-width: 785px){
    .service.tac {
        width: 40%;
        float: none;
        display: inline-block;
        margin-bottom: 35px;
    }
    .service-sec {
        padding-bottom: 30px;
    }
    .banner {
        padding: 80px 0;
    }
    .service-sec {
        padding: 50px 0;
    }
    .service-sec .top {
        margin-bottom: 80px;
    }
}
@media (max-width: 500px){
    .banner h1 {
        font-size: 35px;
    }
    .left,.about .right {
        width: 100% !important;
        float: none !important;
        margin-bottom: ;
    }
    .about .item:first-child{
        margin-top: 30px;
    }
    .banner {
        padding: 50px 0;
    }
}


@media (max-width: 410px){
    .service.tac {
        width: 80%;
    }
    .banner h1 {
        font-size: 26px;
    }
    .banner h4 {
        font-size: 12px;
    }
    .banner a {
        font-size: 10px;
    }
}
@media (max-width: 430px){
    .c-item.tac {
        width: 100%;
        margin-bottom: 20px;
    }
    .contact {
        padding: 50px 0;
    }
}
@media (max-width: 600px){}
@media (max-width: 600px){}
@media (max-width: 600px){}
@media (max-width: 600px){}
@media (max-width: 600px){}
@media (max-width: 600px){}